body {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

aside {
  float: right;
  border: 1px solid black;
  margin-right: 15px;
  margin-bottom: 15px;
  height: 100px;
}

aside small {
  display: block;
  text-align: left;
}

.go {
  color: green;
}

.stop {
  color: red;
}

.group:after {
  content: "";
  display: block;
  clear:both;
}
